*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.contact .content {
    max-width: 950px;
    text-align: center;
}
.contact .content h2{
    font-size: 3em;
    color: black;
    font-weight: 500;
}
.contact .content p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box1{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container1 .contactInfo .box1 .icon1{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #1E5AC2 0%, #1E5AC2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 .contactInfo .box1 .icon1::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #1E5AC2 0%, #1E5AC2 10%, transparent 10%, transparent 50%);
}
.container1 .contactInfo .box1 .icon1::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: white;
}
.container1 .contactInfo .box1 .icon1 b {
    position: absolute;
    inset: 8px;
    background: #1E5AC2;
    z-index: 2;
}
.container1 .contactInfo .box1 .icon1 i{
    position: relative;
    z-index: 1000;
    color: black;
    font-size: 1.25em;

}
.container1 .contactInfo .box1 .text1{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: black;
    font-weight: 300;
}
.container1 .contactInfo .box1 .text1 h3 {
    font-weight: 500;
    color: #1E5AC2;
}
.container1 .contactInfo .txt{
    color: black;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #1E5AC2 ;
    padding-left: 10px;
    line-height: 1em;
}
.container1 .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.container1 .contactInfo .sci li {
    list-style: none;

}
.container1 .contactInfo .sci li a{
    color: black;
    font-size: 1.5em;
    transition: 0.25s;
}
.container1 .contactInfo .sci li a:hover {
    color: #1E5AC2;
    filter: drop-shadow(0 0 10px #1E5AC2);
}
.container1 .contactForm{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #1E5AC2 0%, #1E5AC2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}
.container1 .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #1E5AC2 0%, #1E5AC2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.container1 .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid white;
    background: #1E5AC2;

}
@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate {
    0%
    {
        --a: 0deg;
    }100%
    {
        --a: 360deg;
    }
}
.container1 .contactForm form{
    position: relative;
    z-index: 10;
}
.container1 .contactForm form h2{
    font-size: 2em;
    color: white;
    font-weight: 600;
}
.container1 .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container1 .contactForm form .inputBox input,
.container1 .contactForm form .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #222;
    color: white;
    outline: none;
    resize: none;
}
.container1 .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: white;
    transition: 0.5s;
    font-weight: 300;
}

.container1 .contactForm form .inputBox input:focus ~ span,
.container1 .contactForm form .inputBox textarea:focus ~ span,
.container1 .contactForm form .inputBox input:valid ~ span,
.container1 .contactForm form .inputBox textarea:valid ~ span{
    color: #222;
    font-size: 0.9em;
    transform: translateY(-24px);
    
}

.container1 .contactForm form .inputBox input[type="submit"]{
    width: 100%;
    background: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
@media (max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactInfo,
    .container1 .contactForm{
        width: 100%;
    }
    .container1 .contactForm{
        padding: 40px;
    }
    .container1 .contactForm form{
        padding: 10px;
    }
}

